body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

/* Texte flottant "Home" */
#floating-text {
    position: fixed;
    left: 10px;
    bottom: 84px;
    font-size: 20px;
    color: #999;
    opacity: 0.6;
    text-shadow: 3px 3px 1px #000;
    z-index: 10000;
    font-family: Lato, sans-serif;
}

/* Conteneur du widget */
#widget-container {
    position: fixed;
    left: -20px;
    bottom: -10px;
    width: 150px;
    height: 150px;
    z-index: 9999;
}

#widget-link {
    display: block;
    width: 100%;
    height: 100%;
}
